{[ if (show_emoticons)  { ]}
    <li class="toggle-smiley icon-happy" title="{{{label_insert_smiley}}}">
        <ul>
            <li><a class="icon-smiley" data-emoticon=":)"></a></li>
            <li><a class="icon-wink" data-emoticon=";)"></a></li>
            <li><a class="icon-grin" data-emoticon=":D"></a></li>
            <li><a class="icon-tongue" data-emoticon=":P"></a></li>
            <li><a class="icon-cool" data-emoticon="8)"></a></li>
            <li><a class="icon-evil" data-emoticon=">:)"></a></li>
            <li><a class="icon-confused" data-emoticon=":S"></a></li>
            <li><a class="icon-wondering" data-emoticon=":\"></a></li>
            <li><a class="icon-angry" data-emoticon=">:("></a></li>
            <li><a class="icon-sad" data-emoticon=":("></a></li>
            <li><a class="icon-shocked" data-emoticon=":O"></a></li>
            <li><a class="icon-thumbs-up" data-emoticon="(^.^)b"></a></li>
            <li><a class="icon-heart" data-emoticon="<3"></a></li>
        </ul>
    </li>
{[ } ]}
{[ if (show_call_button)  { ]}
<li class="toggle-call"><a class="icon-phone" title="{{{label_start_call}}}"></a></li>
{[ } ]}
{[ if (show_occupants_toggle)  { ]}
<li class="toggle-occupants"><a class="icon-hide-users" title="{{{label_hide_occupants}}}"></a></li>
{[ } ]}
{[ if (show_clear_button)  { ]}
<li class="toggle-clear"><a class="icon-remove" title="{{{label_clear}}}"></a></li>
{[ } ]}

